In [1]:
'''
File for loading data as a class and data processing functions
Include missing data imputation using:
    1) Ignore missing
    2) EWMA
    3) KNN
Calculate the 10-year moving averages for each explanatory variable
Prepare the input data for models
'''

import pandas as pd
import numpy as np

from sklearn.impute import KNNImputer

In [2]:
COUNTRY_LIST = sorted(list(pd.read_csv("data/countries.csv")['Countries'].values))
COL_NAME = ['Country Name', 'Country Code', '2002','2003','2004','2005','2006','2007', 
            '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', 
            '2017', '2018', '2019', '2020']
FILE_NAMES = ['data/coal rent.csv', 'data/gas rent.csv', 'data/oil rent.csv', 'data/fossil fuel.csv', 'data/emission coal.csv',
              'data/emission total.csv', 'data/emission natural gas.csv', 'data/emission petroleum.csv', 'data/GDP.csv', 
              'data/energy consumption per GDP.csv']
RATE = 0.88

class Data:
    '''
    Stores each input file as a data object
    Parameters:
        file: a string that represents the file name of the input data
        data: a dataframe that stores the dataset
        moving_avg: a dataframe that stores the moving average of the dataset
    '''
    def __init__(self, file, data = None, moving_avg = None):
        self.file = file
        
    def WorldbankData(self):
        '''
        Load the dataset obtained from the world bank website
        Store the dataset in the field 'data'
        '''
        data = pd.read_csv(self.file).iloc[:, 2:]
        data.columns = COL_NAME
        self.data = data.drop(columns = ['Country Code'])
    
    def EiaData(self):
        '''
        Load the dataset obtained from the eia.gov
        Store the dataset in the field 'data'
        '''
        data = pd.read_csv(self.file, skiprows = 1)
        target_yr = COL_NAME[1:].copy()
        target_yr[0] = 'Unnamed: 1'
        data = pd.DataFrame(data, columns = target_yr).iloc[1:,:]
        data = data.rename(columns = {"Unnamed: 1": "Country Name"})
        data['Country Name'] = data['Country Name'].str.lstrip()
        self.data = data
    
    def MissingImpute(self, method):
        '''
        Impute the missing values
        Update the data field with the imputed version
        Parameter:
            method: a string that represents the imputation method the user wants to use
        '''
        temp = self.data.copy()
        temp = temp.replace('0', np.NaN)
        temp = temp.replace('..', np.NaN)
        temp = temp.replace('--', np.NaN)
        temp = temp[temp['Country Name'].isin(COUNTRY_LIST)]
        
        if (method == 'knn'):
            temp = temp.replace(np.NaN, 0).transpose()
            new_header = temp.iloc[0]
            temp = temp[1:]
            temp.columns = new_header
            
            imputer = KNNImputer(n_neighbors = 5)
            temp = pd.DataFrame(imputer.fit_transform(temp), columns = temp.columns)
            temp = temp.transpose()
            temp.reset_index(inplace = True)
            temp.columns = self.data.columns
            
        if (method == 'ewma'): 
            # EWMA(t) = lambda * x(t) + (1-lambda)EWMA(t-1)
            # EWMA(0) = mean(x)
            # The rate parameter can be tuned
            temp.iloc[:, 1:] = temp.iloc[:, 1:].astype(float)
            ewma = [0 for i in range(len(temp.columns))]
            # for each row of data, calculate the ewma values according to the formula
            for j in range(len(temp)):
                ewma[0] = temp.iloc[j, 1:].mean(skipna = True)
                for i in range(1, len(temp.columns)):
                    if (np.isnan(temp.iloc[j, i]) and i > 1):
                        ewma[i] = RATE * temp.iloc[j, i-1] + (1 - RATE) * ewma[i - 1]
                        temp.iloc[j, i] = ewma[i]
                    elif (np.isnan(temp.iloc[j, 1])):
                        ewma[i] = ewma[i - 1]
                        temp.iloc[j, i] = ewma[i]
                    else:
                        ewma[i] = RATE * temp.iloc[j, i] + (1 - RATE) * ewma[i - 1]
        
        self.data = temp
        
    def CalcMA(self):
        '''
        Calculate the 10-year moving average for the dataset
        Store the 10-yr moving average dataset in the field 'moving_avg'
        '''
        data = self.data
        df_ma = pd.DataFrame(list(data['Country Name'].values), columns = ['Country Name'])
        data.iloc[:, 1:] = data.iloc[:, 1:].astype(float)
        temp = data.iloc[:, 1:].rolling(window = 10, axis = 1, min_periods = 1).mean()
        temp.index = np.arange(0, len(temp))
        temp = temp[['2011','2012','2013','2014','2015','2016','2017', '2018','2019','2020']]
        df_ma = df_ma.merge(temp, left_index=True, right_index=True)
        self.moving_avg = df_ma

FileNotFoundError: [Errno 2] No such file or directory: 'data/countries.csv'

In [ ]:
def DataMovingAvg(files, impute_method):
    '''
    Create a list of dataframes, each dataframe contains the moving average data for each explanatory variable
    Parameters:
        files: a list of strings that represent the file names for the explanatory variables
        impute_method: the method of imputation that the user wants to use
        
    Return:
        data_ma: a list of dataframes
    '''
    data_ma = []
    for i in range(len(files)):
        data = Data(files[i])
        if (i <= 3):
            data.WorldbankData()
        else:
            data.EiaData()
        data.MissingImpute(impute_method)
        data.CalcMA()
        data_ma.append(data.moving_avg)
    return data_ma

In [ ]:
def OrganizeDf(time_range, data_ma):
    '''
    Organize the list of dataframes obtained from DataMovingAvg into a list of 10 dataframes, 
    each dataframe represents the data for one year, and is in the format of:
        row: each country
        column: the 10-yr moving average data for each explanatory variables
        
    Parameters:
        time_range: a list of strings that specifies the years that the output list will include
                    for example, the format will be ['2011', '2012', ...]
        data_ma: a list of dataframes that needs to be organized
        
    Output:
        df_list: a list of dataframes 
    '''
    df_list = []
    for i in range(len(time_range)):
        df = pd.DataFrame(COUNTRY_LIST, columns = ['Country Name'])
        for data in data_ma:
            specific_yr = data[['Country Name',time_range[i]]]
            df = df.merge(specific_yr, on = 'Country Name', how='left')  #left join; total 174 countries/rows
    
        df.columns = ['Country Name','coal_rent_ma','gas_rent_ma','oil_rent_ma', 'coal_emission_ma', 'total_emission_ma',
                      'gas_emission_ma', 'petr_emission_ma', 'gdp_ma', 'energy_gdp_ma','fossil_fuel_ma']
        #set country name as index
        df.set_index('Country Name', inplace = True)
        #convert them into gdp per capita
        #remind:if the country selected cold not find population, we assume all values in this country are 1
        for country_name in df.index:
            if sum(population.moving_avg['Country Name'] == country_name) == 1:
                df.loc[country_name] = df.loc[country_name] / population.moving_avg[population.moving_avg['Country Name'] == country_name][time_range[i]].values.astype(int)[0] * 1000000
                #multiply 1000000 to make the values look bigger 
            else:
                df.loc[country_name] = 1

        #combine three columns below
        df["total_rent_ma"] = df['coal_rent_ma'] + df['gas_rent_ma'] + df['oil_rent_ma']
        df.drop(['coal_rent_ma','gas_rent_ma','oil_rent_ma'],axis=1,inplace=True)
        
        df_list.append(df)
    return df_list

# Example

In [4]:
# Read data from the file (must calculate the population moving avg separately)
population = Data('natural gas emission.csv')
population.EiaData()
population.data

NameError: name 'Data' is not defined

In [3]:
# Impute missing data using the selected method
population.MissingImpute('ewma')
population.data

NameError: name 'population' is not defined

In [ ]:
# Calculate 10-year moving average of the dataset
population.CalcMA()
population.moving_avg

,Country Name,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Albania,3038.52600,3017.31700,2995.89400,2975.0360,2955.4070,2937.74800,2922.76600,2910.70300,2901.3910,2894.583493
1,Algeria,34047.25000,34600.13000,35187.72000,35810.8700,36468.7000,37159.74000,37881.96000,38629.88000,39399.5300,40103.486843
2,Angola,20667.47000,21426.32000,22215.75000,23034.1200,23879.2000,24748.46000,25639.60000,26553.37000,27486.9200,28334.617683
3,Antigua and Barbuda,83.54542,84.75116,85.95862,87.1678,88.3787,89.54538,90.66784,91.74608,92.7801,93.681334
4,Argentina,39542.45000,39950.48000,40362.24600,40777.6820,41196.3170,41618.08700,42043.15900,42471.09300,42900.8110,43288.497034
...,...,...,...,...,...,...,...,...,...,...,...
168,Vanuatu,217.39530,222.95310,228.72080,234.6973,240.8819,247.27660,253.88010,260.68170,267.6506,274.010491
169,Venezuela,27017.34200,27443.38400,27866.33000,28270.9700,28635.9070,28936.01700,29151.50500,29276.63600,29325.1210,29333.346552
170,Vietnam,85094.33000,85921.08000,86766.18000,87631.2900,88515.7300,89418.02000,90336.12000,91263.11000,92196.4800,93040.805507
171,Zambia,12400.45000,12749.80000,13116.78000,13501.7000,13904.0200,14323.02000,14758.08000,15209.60000,15675.4700,16101.415781
172,Zimbabwe,12294.30000,12410.39000,12547.21000,12703.8900,12877.6800,13065.16000,13263.23000,13469.82000,13682.5400,13877.848355

In [ ]:
# Create a list of dataframes
# Each dataframe contains the moving average data for one explanatory variable
data_ma_list = DataMovingAvg(FILE_NAMES, 'ewma')
data_ma_list

[            Country Name      2011      2012      2013      2014      2015  \
 0                Albania  0.003504  0.003504  0.003403  0.002674  0.002939
 1                Algeria       NaN       NaN       NaN       NaN       NaN
 2                 Angola       NaN       NaN       NaN       NaN       NaN
 3    Antigua and Barbuda       NaN       NaN       NaN       NaN       NaN
 4              Argentina  0.000792  0.000792  0.000826  0.000780  0.000773
 ..                   ...       ...       ...       ...       ...       ...
 152           Uzbekistan  0.192223  0.194993  0.194790  0.166736  0.149922
 153              Vanuatu       NaN       NaN       NaN       NaN       NaN
 154              Vietnam  1.215732  1.296901  1.340985  1.233536  1.163864
 155               Zambia  0.026254  0.022793  0.018577  0.012934  0.009167
 156             Zimbabwe  2.232021  2.236884  2.209496  2.084632  1.905205

          2016      2017      2018      2019      2020
 0    0.002682  0.003851  0.005848  0.009116  0.012329
 1         NaN       NaN       NaN       NaN       NaN
 2         NaN       NaN       NaN       NaN       NaN
 3         NaN       NaN       NaN       NaN       NaN
 4    0.000701  0.000616  0.000322  0.000300  0.000261
 ..        ...       ...       ...       ...       ...
 152  0.136177  0.119831  0.072981  0.066255  0.055475
 153       NaN       NaN       NaN       NaN       NaN
 154  1.093274  0.976791  0.732998  0.689931  0.577760
 155  0.011100  0.019849  0.024057  0.028358  0.032652
 156  1.676536  1.432132  0.860014  0.782801  0.673095

 [157 rows x 11 columns],
             Country Name       2011       2012       2013       2014  \
 0                Albania   0.016759   0.015966   0.016713   0.017237
 1                Algeria   3.731323   3.844554   3.975462   4.101692
 2                 Angola   0.095101   0.094918   0.094748   0.091774
 3    Antigua and Barbuda        NaN        NaN        NaN        NaN
 4              Argentina   0.571651   0.541512   0.526190   0.509547
 ..                   ...        ...        ...        ...        ...
 152           Uzbekistan  16.536181  15.741974  14.857329  14.055717
 153              Vanuatu        NaN        NaN        NaN        NaN
 154              Vietnam   0.452274   0.484995   0.509172   0.520100
 155               Zambia        NaN        NaN        NaN        NaN
 156             Zimbabwe        NaN        NaN        NaN        NaN

           2015       2016       2017      2018      2019      2020
 0     0.017207   0.015765   0.016999  0.018506  0.020188  0.023946
 1     4.027356   3.786026   3.583184  3.498323  3.356148  3.343204
 2     0.090151   0.090736   0.117695  0.189447  0.259299  0.328161
 3          NaN        NaN        NaN       NaN       NaN       NaN
 4     0.472916   0.421186   0.384386  0.375221  0.361302  0.362502
 ..         ...        ...        ...       ...       ...       ...
 152  13.169975  11.308118  10.022322  8.821966  8.196286  8.269848
 153        NaN        NaN        NaN       NaN       NaN       NaN
 154   0.527818   0.507679   0.490066  0.493875  0.496911  0.503735
 155        NaN        NaN        NaN       NaN       NaN       NaN
 156        NaN        NaN        NaN       NaN       NaN       NaN

 [157 rows x 11 columns],
             Country Name       2011       2012       2013       2014  \
 0                Albania   1.100832   1.336912   1.576033   1.808574
 1                Algeria  25.105253  25.880952  26.242580  26.068550
 2                 Angola  38.494196  39.392128  40.077767  38.857473
 3    Antigua and Barbuda        NaN        NaN        NaN        NaN
 4              Argentina   3.704199   3.497718   3.322514   3.138953
 ..                   ...        ...        ...        ...        ...
 152           Uzbekistan   3.713210   3.518606   3.243544   2.894824
 153              Vanuatu        NaN        NaN        NaN        NaN
 154              Vietnam   6.576826   6.558234   6.412398   5.938096
 155               Zambia        NaN        NaN        NaN        NaN
 156             Zimbabwe        NaN        NaN        NaN        NaN

           2015       2016       2017       2018       2019       2020
 0     1.851394   1.823020   1.861006   1.954403   2.073638   2.117550
 1    24.449617  22.387326  20.754327  19.282790  18.793721  18.028134
 2    35.442372  32.131182  28.976815  25.924804  25.350284  24.042394
 3          NaN        NaN        NaN        NaN        NaN        NaN
 4     2.745260   2.335507   2.031193   1.764549   1.689157   1.591098
 ..         ...        ...        ...        ...        ...        ...
 152   2.426765   2.031603   1.697885   1.430624   1.441194   1.417050
 153        NaN        NaN        NaN        NaN        NaN        NaN
 154   5.157252   4.366477   3.797831   3.212719   3.019593   2.734317
 155        NaN        NaN        NaN        NaN        NaN        NaN
 156        NaN        NaN        NaN        NaN        NaN        NaN

 [157 rows x 11 columns],
             Country Name       2011       2012       2013       2014  \
 0                Albania  64.141551  63.593646  62.780343  62.364696
 1                Algeria  99.767946  99.779795  99.797670  99.821668
 2                 Angola  35.153418  37.139643  38.618356  40.292752
 3    Antigua and Barbuda        NaN        NaN        NaN        NaN
 4              Argentina  88.669582  88.991732  89.286867  89.126611
 ..                   ...        ...        ...        ...        ...
 152           Uzbekistan  98.384028  98.281715  98.184769  98.113596
 153              Vanuatu        NaN        NaN        NaN        NaN
 154              Vietnam  61.822413  63.293072  64.923749  66.075800
 155               Zambia   8.626382   8.755781   8.834328   8.918817
 156             Zimbabwe  28.022383  27.467231  27.392164  27.485157

           2015       2016       2017       2018       2019       2020
 0    61.851287  61.540946  61.163966  60.914508  60.707594  60.518952
 1    99.858323  99.882007  99.904485  99.920057  99.936681  99.949583
 2    42.412517  44.073191  45.427086  46.459152  47.107361  47.636252
 3          NaN        NaN        NaN        NaN        NaN        NaN
 4    88.995322  88.904039  88.755541  88.464402  88.277243  88.100958
 ..         ...        ...        ...        ...        ...        ...
 152  98.047744  97.988077  97.879862  97.852542  97.810783  97.803497
 153        NaN        NaN        NaN        NaN        NaN        NaN
 154  67.000894  67.906853  68.612245  69.134240  69.432980  69.378542
 155   8.966223   9.088635   9.471130   9.793697  10.093516  10.373986
 156  27.363577  27.417953  27.527173  28.069073  28.585087  29.008613

 [157 rows x 11 columns],
             Country Name       2011       2012       2013       2014  \
 0                Albania   0.200112   0.218679   0.234161   0.256599
 1                Algeria   1.155773   1.186693   1.170180   1.137015
 2                 Angola   0.000000   0.000000   0.000000   0.000000
 3    Antigua and Barbuda   0.000000   0.000000   0.000000   0.000000
 4              Argentina   3.577526   3.814351   4.020590   4.119135
 ..                   ...        ...        ...        ...        ...
 168              Vanuatu   0.000000   0.000000   0.000000   0.000000
 169            Venezuela   0.560356   0.617102   0.669685   0.715482
 170              Vietnam  45.903874  51.630924  56.460814  61.579626
 171               Zambia   0.262244   0.254639   0.255445   0.267206
 172             Zimbabwe   7.050011   6.895331   6.846510   6.850991

           2015       2016       2017       2018        2019        2020
 0     0.275099   0.280317   0.278589   0.270148    0.251994    0.237533
 1     1.063276   1.005974   0.934568   0.842579    0.750163    0.663713
 2     0.000000   0.000000   0.000000   0.000000    0.000000    0.000000
 3     0.000000   0.000000   0.000000   0.000000    0.000000    0.000000
 4     4.123657   4.140847   4.142957   4.031635    4.137541    4.190308
 ..         ...        ...        ...        ...         ...         ...
 168   0.000000   0.000000   0.000000   0.000000    0.000000    0.000000
 169   0.740791   0.741797   0.704426   0.653428    0.592261    0.525444
 170  69.289113  78.412207  86.938611  98.989514  110.652987  121.353761
 171   0.273677   0.344693   0.520198   0.782885    1.034245    1.292634
 172   6.835920   6.791629   6.674711   6.615785    6.547902    6.367268

 [173 rows x 11 columns],
             Country Name        2011        2012        2013        2014  \
 0                Albania    3.926874    3.871659    3.862794    3.872558
 1                Algeria  128.744062  127.890724  126.707757  126.822330
 2                 Angola   20.494116   20.247188   20.173674   20.263126
 3    Antigua and Barbuda    0.720095    0.718473    0.716717    0.716305
 4              Argentina  198.833743  198.426037  198.130700  197.899260
 ..                   ...         ...         ...         ...         ...
 168              Vanuatu    0.174776    0.172816    0.170265    0.169828
 169            Venezuela  141.907401  143.281232  143.498201  144.083306
 170              Vietnam  177.300429  173.471993  169.152961  166.965472
 171               Zambia    3.984172    3.861737    3.763308    3.708936
 172             Zimbabwe   10.554785   10.584630   10.680867   10.748156

            2015        2016        2017        2018        2019        2020
 0      3.869359    3.885358    3.939153    3.945778    3.953014    3.960250
 1    127.629552  128.293602  129.006415  130.550207  132.081958  133.613708
 2     20.469314   20.771347   20.813631   20.849043   20.884979   20.920915
 3      0.719104    0.723036    0.722284    0.723430    0.724556    0.725683
 4    199.350055  200.798125  200.355510  199.642529  198.936666  198.230804
 ..          ...         ...         ...         ...         ...         ...
 168    0.168257    0.166996    0.167503    0.173392    0.179202    0.185011
 169  144.458032  144.588452  143.805937  142.396129  140.996986  139.597843
 170  168.056694  171.323313  174.284912  181.445548  188.545707  195.645865
 171    3.687496    3.698407    3.856183    4.155009    4.451543    4.748076
 172   10.867683   10.857204   10.773692   10.625175   10.477746   10.330316

 [173 rows x 11 columns],
             Country Name       2011       2012       2013       2014  \
 0                Albania   0.046292   0.043583   0.041246   0.041325
 1                Algeria  51.951764  54.774349  56.997440  60.707536
 2                 Angola   1.380294   1.407759   1.360284   1.258469
 3    Antigua and Barbuda        NaN        NaN        NaN        NaN
 4              Argentina  79.465938  82.632044  84.999869  86.794974
 ..                   ...        ...        ...        ...        ...
 168              Vanuatu        NaN        NaN        NaN        NaN
 169            Venezuela  51.296290  49.959770  49.329511  48.090094
 170              Vietnam  10.394854  11.571191  12.712586  13.875335
 171               Zambia        NaN        NaN        NaN        NaN
 172             Zimbabwe        NaN        NaN        NaN        NaN

           2015       2016       2017       2018       2019       2020
 0     0.041963   0.044458   0.051818   0.054147   0.056493   0.062629
 1    63.530999  66.038457  68.987037  72.396140  75.579487  78.750098
 2     1.282599   1.306728   1.303393   1.337902   1.370321   1.394108
 3          NaN        NaN        NaN        NaN        NaN        NaN
 4    88.077473  89.383269  90.387922  91.507476  92.872393  94.207940
 ..         ...        ...        ...        ...        ...        ...
 168        NaN        NaN        NaN        NaN        NaN        NaN
 169  48.256283  47.475091  47.755786  48.289829  49.238953  50.060251
 170  14.861439  15.502406  15.927131  16.155948  16.363523  16.353689
 171        NaN        NaN        NaN        NaN        NaN        NaN
 172        NaN        NaN        NaN        NaN        NaN        NaN

 [173 rows x 11 columns],
             Country Name       2011       2012       2013       2014  \
 0                Albania   3.728550   3.677021   3.624531   3.571765
 1                Algeria  34.456065  36.586395  39.004017  41.308863
 2                 Angola   9.611930  10.640813  11.872164  13.291203
 3    Antigua and Barbuda   0.638065   0.658786   0.679373   0.691304
 4              Argentina  74.419940  78.651360  82.445859  86.248481
 ..                   ...        ...        ...        ...        ...
 168              Vanuatu   0.112838   0.119160   0.124893   0.132401
 169            Venezuela  83.862361  86.978526  89.233907  91.748748
 170              Vietnam  38.922293  40.952407  42.794975  44.150474
 171               Zambia   2.053564   2.142982   2.235951   2.360763
 172             Zimbabwe   2.376417   2.423490   2.556764   2.750124

           2015       2016       2017       2018        2019       2020
 0     3.480221   3.421867   3.547305   3.502024    3.617306   3.660088
 1    44.135693  46.801771  48.963519  51.274747   52.832577  54.199898
 2    14.710652  16.130059  17.217757  18.220164   19.073224  19.526807
 3     0.706446   0.712721   0.715255   0.718744    0.722213   0.725683
 4    91.177076  95.634392  98.361831  99.578010  100.605283  99.832556
 ..         ...        ...        ...        ...         ...        ...
 168   0.138169   0.144556   0.151565   0.164794    0.177942   0.185011
 169  93.008918  93.809456  94.367752  92.748247   91.141843  89.012149
 170  46.252992  48.809298  51.123966  53.605631   56.083066  57.938416
 171   2.505955   2.627789   2.802124   3.007041    3.231242   3.455442
 172   2.929164   3.072860   3.231482   3.476126    3.719587   3.963048

 [173 rows x 11 columns],
             Country Name        2011        2012        2013        2014  \
 0                Albania   25.237090   26.376200   27.433960   28.429760
 1                Algeria  447.854800  463.671400  478.304600  493.295800
 2                 Angola  128.176960  138.253930  148.994140  159.725300
 3    Antigua and Barbuda    1.994283    2.028267    2.051245    2.071712
 4              Argentina  702.178200  736.192900  767.671000  794.275900
 ..                   ...         ...         ...         ...         ...
 168              Vanuatu    0.556966    0.578384    0.599922    0.621180
 169            Venezuela  454.069000  474.785810  498.981890  515.037230
 170              Vietnam  424.233600  451.791400  480.334100  510.249000
 171               Zambia   37.127980   40.033170   43.036240   46.115080
 172             Zimbabwe   18.697720   20.378280   22.262640   24.292200

            2015        2016        2017        2018        2019        2020
 0     29.370180   30.292800   31.199190   32.052950   32.894880   33.628903
 1    507.932400  523.693800  538.725500  553.507400  568.030500  580.821076
 2    169.214300  176.908500  182.772400  186.681200  190.335800  193.232665
 3      2.088154    2.091566    2.081646    2.088622    2.132311    2.192284
 4    817.970400  834.621100  847.415600  854.836300  865.138700  867.918745
 ..          ...         ...         ...         ...         ...         ...
 168    0.640004    0.656956    0.674239    0.690207    0.706337    0.721398
 169  523.744500  519.570900  504.686420  480.122570  447.569590  415.937736
 170  542.065400  575.894100  611.998500  651.276700  694.060500  733.614478
 171   49.153420   52.173320   55.133350   58.074600   60.747650   62.965985
 172   26.451800   28.695260   31.162720   33.886940   35.524670   36.736103

 [173 rows x 11 columns],
             Country Name      2011      2012      2013      2014      2015  \
 0                Albania  4.518072  4.339798  4.197722  4.012497  3.853559
 1                Algeria  3.495513  3.539331  3.580952  3.675874  3.738005
 2                 Angola  1.542935  1.558110  1.572572  1.596575  1.669961
 3    Antigua and Barbuda  4.570399  4.594160  4.625447  4.658390  4.706030
 4              Argentina  4.638219  4.579438  4.518375  4.456662  4.406840
 ..                   ...       ...       ...       ...       ...       ...
 168              Vanuatu  3.192012  3.222798  3.192567  3.279267  3.358249
 169            Venezuela  6.778662  6.575220  6.332913  6.122821  6.012700
 170              Vietnam  3.390378  3.497883  3.572200  3.621354  3.687884
 171               Zambia  3.400529  3.271015  3.157096  3.065566  2.963629
 172             Zimbabwe  9.510886  9.009814  8.455503  7.923471  7.303296

          2016      2017      2018      2019      2020
 0    3.777950  3.757601  3.759248  3.740419  3.697353
 1    3.775195  3.825197  3.875551  3.908948  3.956575
 2    1.728422  1.779431  1.833163  1.867967  1.895138
 3    4.773201  4.820091  4.841245  4.786401  4.708072
 4    4.373755  4.341467  4.310403  4.264421  4.245318
 ..        ...       ...       ...       ...       ...
 168  3.466243  3.466138  3.577675  3.650466  3.717234
 169  6.024550  6.206024  6.534607  6.853220  7.163202
 170  3.774749  3.851617  3.936282  4.014091  4.084446
 171  2.853641  2.818703  2.819351  2.840550  2.875796
 172  6.563509  5.789439  5.139848  4.885905  4.674424

 [173 rows x 11 columns]]

In [ ]:
'''
Organize the datasets into the format of: 
    row of each dataframe is countries
    column of each dataframe is explanatory variables
'''
input_yearly = OrganizeDf(COL_NAME[-10:-1], data_ma_list)
input_yearly

[                     coal_emission_ma  total_emission_ma  gas_emission_ma  \
 Country Name
 Albania                  21113.084562          65.869727      1292.585140
 Algeria                   2930.300635          33.946410      3781.362866
 Angola                    1700.944389           0.000000       991.634784
 Antigua and Barbuda               NaN           0.000000      8675.838422
 Argentina                 2242.415196          90.474090      5028.418984
 ...                               ...                ...              ...
 Vanuatu                           NaN           0.000000       805.420364
 Venezuela                         NaN          20.740862      5252.522512
 Vietnam                    726.519067         539.449007      2083.583197
 Zambia                     695.675999          21.148690       321.304206
 Zimbabwe                  2279.354424         573.451389       858.531389

                      petr_emission_ma       gdp_ma  energy_gdp_ma  \
 Country Name
 Albania                     15.237504  1227.304008    8307.139566
 Algeria                   1525.883761  1012.014707   13154.016507
 Angola                      66.787355   465.085905    6202.010935
 Antigua and Barbuda               NaN  7687.524353   24027.506024
 Argentina                 2009.659041  1882.047954   17757.781599
 ...                               ...          ...            ...
 Vanuatu                           NaN   519.991474    2566.665438
 Venezuela                 1898.667129  3104.058954   16806.788318
 Vietnam                    122.157311   457.403498    4985.470186
 Zambia                            NaN   165.609974    2994.191935
 Zimbabwe                          NaN   193.298947    1520.881731

                      fossil_fuel_ma  total_rent_ma
 Country Name
 Albania                 1487.186342     369.024309
 Algeria                  102.667271            NaN
 Angola                    74.656937            NaN
 Antigua and Barbuda    55065.043517            NaN
 Argentina                117.298545     108.154415
 ...                             ...            ...
 Vanuatu                14709.734182            NaN
 Venezuela                250.903597            NaN
 Vietnam                   39.842733      96.890874
 Zambia                   274.236203            NaN
 Zimbabwe                 773.620121            NaN

 [174 rows x 8 columns],
                      coal_emission_ma  total_emission_ma  gas_emission_ma  \
 Country Name
 Albania                  21078.437532          72.482227      1283.281028
 Algeria                   2883.809091          34.297500      3696.263695
 Angola                    1733.391358           0.000000       944.982159
 Antigua and Barbuda               NaN           0.000000      8553.253550
 Argentina                 2227.577762          95.478113      4966.859493
 ...                               ...                ...              ...
 Vanuatu                           NaN           0.000000       778.448681
 Venezuela                         NaN          22.486696      5221.048423
 Vietnam                    736.642641         600.911581      2018.970830
 Zambia                     686.781795          19.973280       302.905082
 Zimbabwe                  2213.314310         555.627004       852.911344

                      petr_emission_ma       gdp_ma  energy_gdp_ma  \
 Country Name
 Albania                     14.445781  1218.767411    8742.525688
 Algeria                   1583.073661  1057.410266   13400.907514
 Angola                      65.703300   496.630850    6452.624382
 Antigua and Barbuda               NaN  7842.693194   24146.035714
 Argentina                 2068.386584  1968.744924   18427.857322
 ...                               ...          ...            ...
 Vanuatu                           NaN   536.755756    2605.331532
 Venezuela                 1820.492279  3169.424832   17300.798382
 Vietnam                    134.672439   476.628616    5258.218596
 Zambia                            NaN   168.090215    3140.102753
 Zimbabwe                          NaN   195.285220    1642.085415

                      fossil_fuel_ma  total_rent_ma
 Country Name
 Albania                 1438.448066     449.579654
 Algeria                  102.292794            NaN
 Angola                    72.720511            NaN
 Antigua and Barbuda    54692.386201            NaN
 Argentina                114.629242     101.126955
 ...                             ...            ...
 Vanuatu                14517.109588            NaN
 Venezuela                239.595514            NaN
 Vietnam                   40.710451      97.067418
 Zambia                   256.570338            NaN
 Zimbabwe                 726.012431            NaN

 [174 rows x 8 columns],
                      coal_emission_ma  total_emission_ma  gas_emission_ma  \
 Country Name
 Albania                  20961.717126          78.183922      1289.747575
 Algeria                   2836.208555          33.256020      3600.982100
 Angola                    1738.391007           0.000000       908.110482
 Antigua and Barbuda               NaN           0.000000      8431.960527
 Argentina                 2212.151694          99.613260      4908.842480
 ...                               ...                ...              ...
 Vanuatu                           NaN           0.000000       746.775470
 Venezuela                         NaN          24.032325      5149.580183
 Vietnam                    748.262555         650.725094      1949.530472
 Zambia                     673.553556          19.475847       286.924948
 Zimbabwe                  2183.164437         545.669074       851.268614

                      petr_emission_ma       gdp_ma  energy_gdp_ma  \
 Country Name
 Albania                     13.771636  1210.194037    9159.919866
 Algeria                   1619.843685  1108.478032   13593.219087
 Angola                      61.232695   534.421053    6706.916048
 Antigua and Barbuda               NaN  7992.618501   24132.294118
 Argentina                 2105.937975  2042.660405   19019.647193
 ...                               ...          ...            ...
 Vanuatu                           NaN   547.777272    2631.238158
 Venezuela                 1770.240102  3202.250296   17906.477069
 Vietnam                    146.515760   493.222861    5535.971463
 Zambia                            NaN   170.475105    3281.201586
 Zimbabwe                          NaN   203.774934    1774.339683

                      fossil_fuel_ma  total_rent_ma
 Country Name
 Albania                 1401.576692     532.937730
 Algeria                  101.769167            NaN
 Angola                    70.788733            NaN
 Antigua and Barbuda    54417.028334            NaN
 Argentina                111.946254      95.375121
 ...                             ...            ...
 Vanuatu                14002.486243            NaN
 Venezuela                227.263064            NaN
 Vietnam                   41.170504      95.228020
 Zambia                   240.705684            NaN
 Zimbabwe                 673.906342            NaN

 [174 rows x 8 columns],
                      coal_emission_ma  total_emission_ma  gas_emission_ma  \
 Country Name
 Albania                  20962.922893          86.251772      1301.700198
 Algeria                   2787.536112          31.751327      3541.533933
 Angola                    1749.272893           0.000000       879.705058
 Antigua and Barbuda               NaN           0.000000      8233.395268
 Argentina                 2185.707890         101.016135      4853.207938
 ...                               ...                ...              ...
 Vanuatu                           NaN           0.000000       725.762185
 Venezuela                         NaN          25.308868      5096.685740
 Vietnam                    754.023123         702.715087      1905.324280
 Zambia                     660.604214          19.791587       274.715618
 Zimbabwe                  2163.674513         539.320680       846.111591

                      petr_emission_ma       gdp_ma  energy_gdp_ma  \
 Country Name
 Albania                     13.890922  1200.593432    9556.221849
 Algeria                   1695.267696  1153.556638   13775.364423
 Angola                      54.635277   577.025410    6934.327516
 Antigua and Barbuda               NaN  7946.026596   23812.781609
 Argentina                 2128.527710  2115.125705   19478.527111
 ...                               ...          ...            ...
 Vanuatu                           NaN   565.816248    2654.617521
 Venezuela                 1701.099901  3245.445641   18218.508313
 Vietnam                    158.338200   503.822547    5822.699730
 Zambia                            NaN   174.858350    3415.678839
 Zimbabwe                          NaN   216.494075    1912.319924

                      fossil_fuel_ma  total_rent_ma
 Country Name
 Albania                 1348.738411     614.617240
 Algeria                  102.649382            NaN
 Angola                    69.313851            NaN
 Antigua and Barbuda    53544.716211            NaN
 Argentina                109.293520      89.493575
 ...                             ...            ...
 Vanuatu                14013.961558            NaN
 Venezuela                216.583703            NaN
 Vietnam                   41.325031      87.774096
 Zambia                   227.062124            NaN
 Zimbabwe                 623.747985            NaN

 [174 rows x 8 columns],
                      coal_emission_ma  total_emission_ma  gas_emission_ma  \
 Country Name
 Albania                  20931.061423          93.096084      1309.427686
 Algeria                   2738.245113          29.156417      3499.768349
 Angola                    1776.142920           0.000000       857.209865
 Antigua and Barbuda               NaN           0.000000      8171.632848
 Argentina                 2160.290371         100.098485      4839.063380
 ...                               ...                ...              ...
 Vanuatu                           NaN           0.000000       701.070797
 Venezuela                         NaN          25.870129      5044.806428
 Vietnam                    756.943954         782.795152      1898.623892
 Zambia                     644.866456          19.683337       265.211161
 Zimbabwe                  2124.996267         530.862747       843.960782

                      petr_emission_ma       gdp_ma  energy_gdp_ma  \
 Country Name
 Albania                     14.200525  1177.739716    9939.147208
 Algeria                   1742.102639  1210.258117   13928.167160
 Angola                      53.712409   616.049734    7086.322710
 Antigua and Barbuda               NaN  8027.791067   23729.022727
 Argentina                 2138.010307  2213.250713   19855.578211
 ...                               ...          ...            ...
 Vanuatu                           NaN   575.703675    2666.685417
 Venezuela                 1685.220289  3248.085150   18290.361446
 Vietnam                    167.897403   522.544108    6123.994803
 Zambia                            NaN   180.232644    3535.199942
 Zimbabwe                          NaN   227.472550    2054.189640

                      fossil_fuel_ma  total_rent_ma
 Country Name
 Albania                 1304.080846     633.346930
 Algeria                  102.500954            NaN
 Angola                    69.934313            NaN
 Antigua and Barbuda    53477.614227            NaN
 Argentina                106.972516      78.137408
 ...                             ...            ...
 Vanuatu                13992.702599            NaN
 Venezuela                209.977299            NaN
 Vietnam                   41.663945      77.375966
 Zambia                   213.149377            NaN
 Zimbabwe                 567.158179            NaN

 [174 rows x 8 columns],
                      coal_emission_ma  total_emission_ma  gas_emission_ma  \
 Country Name
 Albania                  20953.676018          95.443244      1322.900267
 Algeria                   2687.962725          27.072150      3452.557979
 Angola                    1780.878918           0.000000       839.314148
 Antigua and Barbuda               NaN           0.000000      8124.005538
 Argentina                 2136.192014          99.496549      4824.790357
 ...                               ...                ...              ...
 Vanuatu                           NaN           0.000000       676.098487
 Venezuela                         NaN          25.635788      4996.836173
 Vietnam                    759.431576         876.917475      1915.982391
 Zambia                     634.548253          24.065687       258.214568
 Zimbabwe                  2098.580408         519.833796       831.014454

                      petr_emission_ma       gdp_ma  energy_gdp_ma  \
 Country Name
 Albania                     15.137297  1165.089262   10314.198161
 Algeria                   1777.186064  1259.500278   14093.323286
 Angola                      52.801367   651.772216    7148.395830
 Antigua and Barbuda               NaN  8008.105774   23500.741573
 Argentina                 2147.706972  2297.909370   20054.329857
 ...                               ...          ...            ...
 Vanuatu                           NaN   585.248812    2659.741296
 Venezuela                 1640.692927  3241.963511   17955.864667
 Vietnam                    173.370085   545.855399    6440.471717
 Zambia                            NaN   183.466416    3642.625148
 Zimbabwe                          NaN   235.197852    2196.345962

                      fossil_fuel_ma  total_rent_ma
 Country Name
 Albania                 1286.329710     626.989149
 Algeria                  101.595721            NaN
 Angola                    69.840859            NaN
 Antigua and Barbuda    53631.470266            NaN
 Argentina                105.092861      66.254838
 ...                             ...            ...
 Vanuatu                14033.371567            NaN
 Venezuela                208.202587            NaN
 Vietnam                   42.214643      66.736328
 Zambia                   199.234886            NaN
 Zimbabwe                 502.373426            NaN

 [174 rows x 8 columns],
                      coal_emission_ma  total_emission_ma  gas_emission_ma  \
 Country Name
 Albania                  20932.226616          95.341913      1348.101575
 Algeria                   2637.324371          24.671162      3405.570468
 Angola                    1771.796325           0.000000       811.795747
 Antigua and Barbuda               NaN           0.000000      8025.378168
 Argentina                 2111.065845          98.540952      4765.490338
 ...                               ...                ...              ...
 Vanuatu                           NaN           0.000000       662.065628
 Venezuela                         NaN          24.164732      4933.139080
 Vietnam                    759.522726         962.391640      1929.296312
 Zambia                     641.762409          35.248551       261.294415
 Zimbabwe                  2075.486134         503.258007       812.311845

                      petr_emission_ma       gdp_ma  energy_gdp_ma  \
 Country Name
 Albania                     17.733758  1213.999057   10677.340862
 Algeria                   1821.151412  1292.561412   14221.522663
 Angola                      50.836349   671.545563    7128.686766
 Antigua and Barbuda               NaN  7947.278244   23129.400000
 Argentina                 2149.892290  2339.553107   20155.926076
 ...                               ...          ...            ...
 Vanuatu                           NaN   599.070928    2664.977866
 Venezuela                 1638.221181  3237.204631   17312.833865
 Vietnam                    176.309902   565.931252    6774.691153
 Zambia                            NaN   189.871549    3735.828025
 Zimbabwe                          NaN   243.646410    2349.598130

                      fossil_fuel_ma  total_rent_ma
 Country Name
 Albania                 1285.968742     644.030124
 Algeria                  100.979301            NaN
 Angola                    69.403284            NaN
 Antigua and Barbuda    53556.561956            NaN
 Argentina                103.262540      57.469604
 ...                             ...            ...
 Vanuatu                13700.151226            NaN
 Venezuela                212.892326            NaN
 Vietnam                   42.636567      58.278960
 Zambia                   190.994948            NaN
 Zimbabwe                 436.510541            NaN

 [174 rows x 8 columns],
                      coal_emission_ma  total_emission_ma  gas_emission_ma  \
 Country Name
 Albania                  20932.820462          92.834304      1355.937628
 Algeria                   2586.659164          21.812094      3379.590650
 Angola                    1749.676200           0.000000       785.185965
 Antigua and Barbuda               NaN           0.000000      7949.779971
 Argentina                 2082.936646          94.926765      4700.678789
 ...                               ...                ...              ...
 Vanuatu                           NaN           0.000000       666.893843
 Venezuela                         NaN          22.319596      4863.920237
 Vietnam                    757.527581        1084.662061      1988.161118
 Zambia                     643.940907          51.475106       273.194102
 Zimbabwe                  2083.976056         491.186061       788.861442

                      petr_emission_ma       gdp_ma  energy_gdp_ma  \
 Country Name
 Albania                     18.607170  1203.444613   11014.759450
 Algeria                   1874.139629  1327.364069   14328.804784
 Angola                      50.386105   686.180996    7030.512560
 Antigua and Barbuda               NaN  7898.285516   22951.890110
 Argentina                 2154.587271  2344.611855   20127.529373
 ...                               ...          ...            ...
 Vanuatu                           NaN   633.822999    2654.642308
 Venezuela                 1649.468134  3168.064193   16399.869176
 Vietnam                    177.026261   587.375294    7136.262231
 Zambia                            NaN   197.714585    3818.436452
 Zimbabwe                          NaN   258.083437    2515.921004

                      fossil_fuel_ma  total_rent_ma
 Country Name
 Albania                 1291.837777     679.985181
 Algeria                  100.327509            NaN
 Angola                    69.037895            NaN
 Antigua and Barbuda    53200.496687            NaN
 Argentina                101.490505      50.389515
 ...                             ...            ...
 Vanuatu                13760.287252            NaN
 Venezuela                223.206961            NaN
 Vietnam                   43.131189      48.646130
 Zambia                   185.373834            NaN
 Zimbabwe                 381.605740            NaN

 [174 rows x 8 columns],
                      coal_emission_ma  total_emission_ma  gas_emission_ma  \
 Country Name
 Albania                  20926.437041          86.864477      1362.638534
 Algeria                   2536.528361          19.040153      3352.419042
 Angola                    1713.867465           0.000000       759.840616
 Antigua and Barbuda               NaN           0.000000      7875.612605
 Argentina                 2057.744590          96.446183      4637.218328
 ...                               ...                ...              ...
 Vanuatu                           NaN           0.000000       671.166953
 Venezuela                         NaN          20.196459      4808.081368
 Vietnam                    753.101871        1200.192928      2045.053004