In [4]:
import pandas as pd
df1 = pd.read_csv ('coal emission.csv')
df1

,region,1949,1950,1951,1952,1953,1954,1955,1956,1957,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,World,1117.538985,1151.600346,1166.858975,1052.386511,1057.069608,904.191799,1037.883229,1054.597765,1003.746034,...,15035.60179,15850.88801,16325.70577,16505.52204,16392.74665,15844.41612,14956.562250,15365.38607,15783.05918,15953.29648
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.409265131,2.876841117,2.410326341,2.618314179,2.94953967,2.653302787,3.300592,4.25889114,4.752619278,4.157812939
2,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.329973274,0.309336488,0.277315518,0.246715711,0.311597702,0.264177003,0.205667,0.204718952,0.204280064,0.234532435
3,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.099877444,1.407935614,1.388799245,0.9822675,0.833787114,0.513684727,0.396965,0.410188876,0.232647447,0.352334693
4,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0.000000,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,Wake Island,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0.000000,0,0,0
227,Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0.000000,0,0,0
228,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.408273035,0.41787946,0.427485884,0.446698733,0.449100339,0.37465055,0.324217,0.305003974,0.297799155,0.288192731
229,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.294449236,0.163326522,0.236471705,0.341023115,0.363177481,0.388692316,0.845774,1.937094379,2.894102226,3.186293755
230,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.622609295,6.485794791,7.1529004,7.254804812,7.364455775,7.73005129,6.880535,5.712487803,4.588966564,4.027143094